<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVSYW9oOSb8WA6LpLZg6Az3GuhoEGxnSI</string>
	<key>GCM_SENDER_ID</key>
	<string>870210838239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>flutterbasics-a38c7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbasics-a38c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870210838239:ios:aec994c743fbf3c954936a</string>
</dict>
</plist>